@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 5px;
}
img {
    border-radius: 10px;
    width: 170px;
    height: 100px;
}
input, textarea {
    border: 1px solid black;
    border-radius: 5px;
}
input, label {
    display: block;
}

li {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 1px black;
}

li:hover {
    transform: translate3d(1px, 1px, 1px);
}

img:hover {
    border: 1px solid red;
}

sup {
    color: rgb(164, 117, 0);
}